<BI-Nav
  [BIGrid]="grid"
  [PageTitle]="'Products'"
  [RowTitle]="rowTitle"
  [CanInsert]="true"
  [CanUpdate]="true"
  [CanDelete]="true"
  [CanSave]="true"
  [CanViewAttachments]="true"
  [CanAddAttachments]="true"
  [CanDeleteAttachments]="true"
  [CanPrint]="false"
  [deleteConfirmMsg]="true"
  (ActionClicked)="onActionClicked($event)">
</BI-Nav>

<mat-tab-group>
  <mat-tab label="Overview">
    <BI-Grid
      #grid
      [DataService]="dataService"
      [Columns]="columns"
      [changeSet]="changeSet"
      GridName="ProductsGrid"
      DomID="productsGridDom"
      [HasPaging]="true"
      (OnLoadData)="onLoadData($event)"
      (AfterSave)="afterSave($event)"
      (AfterAdd)="afterAdd($event)"
      (RowChange)="onRowChange($event)"
      (CellClick)="onCellClick($event)">
    </BI-Grid>
  </mat-tab>
  <mat-tab label="General">
    <div class="general-tab-grid">
      <ng-container *ngIf="selectedProduct; else noSelection">
        <h4 class="general-tab-title">Selected Order #{{ selectedProduct.OrderId }}</h4>
        <kendo-grid
          [data]="selectedRows"
          [pageable]="false"
          [filterable]="false"
          [sortable]="false"
          [resizable]="true"
          [height]="420">
          <kendo-grid-column
            *ngFor="let col of gridColumns"
            [field]="col.Name"
            [title]="col.DisplayName"
            [width]="col.Width"
            [format]="col.Format">
          </kendo-grid-column>
        </kendo-grid>
      </ng-container>
      <ng-template #noSelection>
        <p>Select a row in the Overview grid to see it here.</p>
      </ng-template>
    </div>
  </mat-tab>
</mat-tab-group>